.container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  
.card {
    margin: 1rem;
    /* background-color: #f8f9fa;
    border: 1px solid #d9dadb; */
    border-radius: 4px;
  
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
  
.card-header {
    width: 100%;
    background-color: rgba(0, 0, 0, .03);
    text-decoration: none;
    padding: .75rem 1.25rem;
    border-bottom: 1px solid #d9dadb;
    display: flex;
}
  
.card-body {
    margin-left: auto!important;
    margin-right: auto!important;
}

.border-deletion {
    border-bottom: 3px solid #ee2a2a;
}

.border-deletion-all {
    border: 2px solid #ee2a2a;
}

.bg-deletion {
    background-color: #ee2a2a;
}

.txt-deletion {
    color: #ee2a2a;
}

.border-insertion {
    border-bottom: 3px solid #64c466;
}

.border-insertion-all {
    border: 2px solid #64c466;
}

.bg-insertion {
    background-color: #64c466;
}

.txt-insertion {
    color: #64c466;
}


.border-paraphrase {
    border-bottom: 3px solid #2186eb;
}

.border-paraphrase-all {
    border: 2px solid #2186eb;
}

.bg-paraphrase {
    background-color: #2186eb;
}

.txt-paraphrase {
    color: #2186eb;
}

.border-split {
    border-bottom: 3px solid #F7CE46;
}

.border-split-all {
    border: 2px solid #F7CE46;
}

.bg-split {
    background-color: #F7CE46;
}

.txt-split {
    color: #F7CE46;
}

.bg-paraphrase-light {
    background-color: #ADC5FA;
}

.bg-insertion-light {
    background-color: #D2E7BA;
}

.bg-deletion-light {
    background-color: #F4B8B1;
}

.bg-split-light {
    background-color: #FAE5AF;
}


.w-15 {
    width: 15%;
}